# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.db
*.sqlite3

# Google Cloud Credentials
credentials.json
backend/credentials.json

# Node / React
node_modules/
dist/
dist-ssr
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
